<div class="shadow_sub_menu">
<% menu = Menu.find_by_page_id(page.id) 
selectedmenu = nil
selectedmenu = ((menu.level == 1)? menu : Menu.find_by_id(menu.parent_id))
menus = Menu.find_all_by_parent_id(selectedmenu.id,:order=>"position desc")
menus << selectedmenu if (menu.level!=1)
menus.reverse.each do |menuitem|
if Menu.link_menu(menuitem)
 menulink = menuitem.page.perma_link
 else
 menulink = menuitem.link_path
end
if menuitem.id !=  menu.id
%>
<a href="<%= menulink %>"><%= menuitem.name %></a>
<% end
end %>
</div>
