<% cache("#{page.perma_link}")  do  %>
<p>
<%= raw page.body %>
</p>
<% end %>
<% if page.type.eql?('ObjectForm') %>
 <%= render :partial=>"show_form",:locals=>{:page=>page}  %>
<% elsif page.type.eql?('View')%>
 <%= render :partial=>"show_view",:locals=>{:page=>page}  %>
<% end %>

