 <div id="table_view_<%=page.id %>"  >
  <table id="table_table_view_<%=page.id %>">
    <tr class="table_view_tr_heading">
      <% page.view_components.each do |vc| %>
         <th class="table_view_td_heading"><%= vc.display_name %></th>
      <% end %>
    </tr>
    <% output = ""

    #output2 ="'"
    #view_order=page.view_orders.first
    #output2 << view_order.name
    #output2 << " "
    #output2  << view_order.order
    #output2 << "'"

  @object_model.published_model_submissions.each do |ms|
       output << "<tr class='table_view_tr_value #{cycle('odd','even')}'>"
       page.view_components.each do |vc2|
        value =raw  (get_submission_model_data(ms,vc2.name))
        if vc2.is_linked
          value = link_to( value,"/#{ms.object_model.perma_link_parent}/#{ms.perma_link}")
        end
        output << "<td class='table_view_td_value'>#{value}</td>"
       end
       output<<"</tr>"
    end
   %>
    <%= raw(output) %>
  </table>
</div>



