 <%  om = ObjectModel.find(page.view_for) %>
 <% page.view_components.each do |vc2|
          if vc2.is_linked
           @linked_component=vc2
          end
     end
 %>

<div id="table_view_<%=page.id %>"  >
  <table id="table_table_view_<%=page.id %>">
    <tr class="table_view_tr_heading">
      <% page.view_components.each do |vc| %>
         <th class="table_view_td_heading"><%= vc.display_name %></th>
      <% end %>
    </tr>
    <% output = ""
   
  om.model_submissions.each do |ms|
       output << "<tr class='table_view_tr_value #{cycle('odd','even')}'>"
       page.view_components.each do |vc2|
        value =raw  (get_submission_model_data(ms,vc2.name))
        if vc2.is_linked
          value = link_to( value,"/#{ms.object_model.perma_link_parent}/#{ms.perma_link}")
        end
        output << "<td class='table_view_td_value'>#{value}</td>"
       end
       output<<"</tr>"
    end
   %>
    <%= raw(output) %>
  </table>
</div>



