<div id="authorization_<%= page.id %>" class="authorization">
<div class= "authorization_header">Authorization Error</div>
<div class="authorization_value">You do not have permission to do this activity</div>
</div>
