<h1><%= "Details for #{@user.login.capitalize}" unless @user.login == @user.email %></h1>
<%= render "shared/user_profile", :user=>@user, :user_detail_settings=>@user_detail_settings %>
<br/><%= link_to 'Back',:back %>
