<%= render :partial=>"shared/search_form",:locals=>{:type=>@type,:query=>@query} %>

<h1><p>
Search Results
</p></h1>
<p>
<%= @msg %>
</p>
<% unless @results.empty? %>
<p>
  The following are the pages with the search criteria
</p>
<p>
  <% @results.each do |page| 
    if page.class.to_s == "ModelSubmission"  %>
      <%= link_to page.title,"/#{page.object_model.perma_link_parent}/#{page.perma_link}" %><br/>
    <%  else %>
      <%= link_to page.title,"/#{page.perma_link}" %><br/>
    <% end  %>
  <%  end %>
</p>
<% end  %>
