<p id="notice"><%= notice %></p>

<p>
  <b>Object form:</b>
  <%= @submission_form.object_form_id %>
</p>


<%= link_to 'Edit', edit_submission_form_path(@submission_form) %> |
<%= link_to 'Back', submission_forms_path %>
