<h1>Editing model_component</h1>

<%= render 'form' %>

<%= link_to image_tag("show.png",:class=>"image_link"), [@object,@model_component] %> |
<%= link_to 'Back', object_model_model_components_path %>
