
<%= link_to 'Back', object_model_model_components_path %>


<h1>New Model Component for <u> <%= @object.name %></u> Object Model  </h1>

<%= render 'form' %>

<%= link_to 'Back', object_model_model_components_path %>
