<h1><%= @model_submission.perma_link.reverse.chop.reverse %>'s Categories</h1>
 <%# form_tag(category_add_object_model_model_submission_path(@category)) do %>
  <%#= select_tag(:ocassion, options_from_collection_for_select(@product.unenrolled_ocassions, :id, :name)) %>
  <%#= submit_tag 'Add' %>
 <%# end %>

<p><%= link_to 'Back',object_model_model_submission_path %></p>