Welcome <%= @user %>,
<p>
You have requested to reset your password. please follow the link below to reset the password. If you are not able to click on the link, copy and paste the below url in your browser.
</p>
<p>
Reset Password: <a href="<%= @url %>" ><%= @url %></a>
</p>
<p>
Thanks and Regards<br/>
Team Website
</p>
