Welcome <%= @user %>,
<p>
You have been successfully registered to RlingCMS. You can now login with your login, password provided at the time of registration.
</p>
Thanks and Regards<br/>
<p>
Team Website
</p>