body { background-color: #fff;height:100%,min-height:600px; }
img
{
border:none;
}
body, td{
  background-color:#F4F4ED;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
a { color: white;text-decoration:none; }
a:visited { color: white;text-decoration:none; }

h1
{
    font-size: 16px;
    font-weight: bold;
}

#layout
{
margin:auto;
width: 800px;
}

#header{
background:#EDEAD7 none repeat scroll 0 0;
height: 134px;
width: 800px;
float:left;
}

#top_bar{
background:#BF2E1B none repeat scroll 0 0;
text-align:right;
height:20px;
width: 800px;
float:left;
color:white;
}
#top_bar a
{
    color: white;
}
#header_text{
   text-align:center;
   height: 58px;
   float:left;
   width: 800px;
}
#header_menu{
 float:left;
 width: 800px;
 height: 33px;
 background: #333;
}

#header_menu ul li
{
 list-style:none;
 float:left;
 padding: 5px;
font-size: 15px;
font-weight: bold;
 background: #333;
}
#header_menu ul li a
{
color: #ffffff;
}
#header_menu ul li:hover
{
 background:#BF2E1B;
}
#menus
{
float:left;
}
#search_bar
{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.menuitem_first
{
border-left: none;
}
.menuitem
{
 border-left: 1px solid black;
}
#middle{
background: white;
color:black;
height:100%;
min-height:200px;
float:left;
width: 780px;
padding: 10px;
}

#footer{
background:#BF2E1B none repeat scroll 0 0;
text-align:center;
float:left;
width:800px;
height:70px;
}

#footer_menu{
background:#BF2E1B none repeat scroll 0 0;
height:35px;
text-align: center;
width: 800px;
float:left;
}
#footer_menu ul
{
background:#BF2E1B none repeat scroll 0 0;
float:right;
margin-right:40px;
width:720px;
}
#footer_menu ul li
{
 list-style:none;
display:inline;
padding: 5px;
}


#developer{
text-align:center;
width: 800px;
color:white;
}

#developer a
{
    color:white;
}

.shadow_sub_menu
{
 float:right;
 font-size: 14px;
 font-weight: bold;
 width: 100%;
 margin-bottom: 25px;
}

.shadow_sub_menu a
{
padding: 5px;
 border-right: 1px solid black;
}

.image_link
{
width: 20px;
height: 20px;
border: none;
}

/* CSS for Grids */
.grid_element
{
    float:left;
    display:block;
    text_align:center;
    margin :5px;
}


/* CSS for Page*/
.page_heading
{
 float:left;
 display:none;
}
#page_4 .page_title_value 
{
 display:none;
}  

#page_2 .page_title_value
{
 font-size: 16px;
 font-weight: bold;
 
}

.form_component
{
 width:100%;
}
.form_component_heading,.mandatory_component,.form_component_value
{
  float:left;
}
.form_submit
{
 width: 100%;
}

#dashboard_left
{
    float:left;
    padding-left: 10px;
    width: 470px;
}

#dashboard_right
{
    float:left;
    padding-left: 155px;
}

.user_information .user_section_heading
{
   font-weight:bold;
}

#left_page
{
    float:left;
    width:300px;
}

#right_page
{
    float:left;
    width:660px;
}

