#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
    border-right: 1px solid #777;
/*	-moz-border-radius: 5px;
	-webkit-border-radius:5px; 
	border-radius: 5px;
	behavior: url(border-radius.htc);*/
	margin-bottom:5px;
	margin-top:5px;
}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 0px 5px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #333;
}

#sddm div a
{	
	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #999;
		color: black;
		font: 11px arial
		border: 1px solid black;
}

	#sddm div a:hover
	{	background: #333;
		color: #FFF}
