<h1>New User</h1>

<%= render 'form' %>
<% if current_user && current_user.admin? %>
 <td><%= link_to image_tag('back_button.gif',:class=>'back_link'), users_path %></td>
<% else %>
<%= link_to 'Cancel', root_path %>
<% end %>
