<h1>Editing Comment Submission</h1>

<%= render 'form' %>

<%= link_to 'Show', model_submission_comment_submission_path(@model,@comment_submission) %> |
<%= link_to 'Back', model_submission_comment_submissions_path %>
