<h1>Listing Comment Submissions</h1>

<table>
  

<% @comment_submissions.each do |comment| %>
  <tr>
  <% comment.level.times do %>
  <td></td>
   <% end %>

  <td>
  <% comment.model_submission.object_model.comment_components.each do |cc| %>
    <b><%= cc.component_display_name %> :</b>
          <% comment_data = comment.comment_data.first(:conditions=>["comment_component_id=?",cc.id] )
          unless comment_data.nil? %>
           
           <%= raw get_form_data(cc.component_type,comment_data.data_value) %>
          <% end %>
          <hr/>

   <% end %>
  </td>
    <% if (validate_permission("deletecomment",comment.model_submission.object_model,comment) || validate_permission("deletemycomments",comment.model_submission.object_model,comment)) %>
      <td><%= link_to 'Destroy',[@object,@model, comment], :confirm => 'Are you sure?', :method => :delete %></td>
     <% end %>
  </tr>
<% end %>
</table>

<br />


