<h1>Listing Comment Submissions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comment_submissions.each do |comment_submission| %>
  <tr>
    <td><%= link_to 'Show', model_submission_comment_submission_path(@model,comment_submission) %></td>
    <td><%= link_to 'Edit', edit_model_submission_comment_submission_path(@model,comment_submission) %></td>
    <td><%= link_to 'Destroy',[@model, comment_submission], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment submission', new_model_submission_comment_submission_path %>
