<p id="notice"><%= notice %></p>

<p>
  <b>Object form:</b>
  <%= @form_submission.object_form_id %>
</p>


<%= link_to 'Edit', edit_object_form_form_submission_path(@form_submission) %> |
<%= link_to 'Back', object_form_form_submissions_path %>
