<%= stylesheet_link_tag 'dropdownmenu' %>
<%= javascript_include_tag 'menu_down' %>

<% output = ""
menuset = Menuset.find_by_name(menusetname)
menus = Menu.find_all_by_menuset_id_and_level(menuset.id,1,:conditions => ["menu_view_type IN (?)",["0","#{session[:browser].to_s}"]],:order=>"position")

output << "<ul id='sddm'>"
mnu_count = 0
menus.each do |menu|
  if menu.page.nil?
   menu_link = menu.link_path
  else
   menu_link = menu.page.perma_link
  end
  submenus = Menu.find_all_by_parent_id(menu.id,:conditions => ["menu_view_type IN (?)",["0","#{session[:browser].to_s}"]],:order=>"position")
  output << "<li><a title='#{get_pagelet(menu.name)}' href='#{menu_link}' " + ( submenus.empty? ? "" : "onmouseover='mopen(\"m#{mnu_count}\")' onmouseout='mclosetime()") + "'>"
  if menu.image_path.blank?
    output << menu.name
  else
    output << "<img src='#{menu.image_path}'"
    if !menu.hover_image_path.blank?
     output <<  "onmouseover=\"this.src='#{menu.hover_image_path}';\" onmouseout=\"this.src='#{menu.image_path}';\""
    end
    output << " />" 
  end 
  output << "</a>"
  unless submenus.empty?
  	output << "<div id='m#{mnu_count}' onmouseover='mcancelclosetime()' onmouseout='mclosetime()'>"
  	submenus.each do |submenu|
		if submenu.page.nil?
   			sub_menu_link = submenu.link_path
  		else
   			sub_menu_link = submenu.page.perma_link
  		end
  		output << "<a href='#{sub_menu_link}'>#{submenu.name}</a>"
  	end
  	output << "</div>"
  end
  output << "</li>"
  mnu_count = mnu_count + 1 
end
output <<"</ul>"
%>
<%= raw(output) %>
<div style="clear:both"></div>

