<%= javascript_include_tag 'menu_down' %>
<% output = ""
menuset = Menuset.find_by_name(menusetname)
menus = Menu.where("menuset_id=#{menuset.id} and level=1").order("position")
output << "<ul id='sddm'>"
mnu_count = 0
menus.each do |menu|
  if menu.page.nil? || menu.page.published?
  submenus = Menu.where(:parent_id=>menu.id).order("position")
  if menu.page.nil?
    menu_link = menu.link_path
    output << "<li><a title='#{get_pagelet(menu.name)}' href='#{menu_link}' " + ( submenus.empty? ? "" : "onmouseover='mopen(\"m#{mnu_count}\")' onmouseout='mclosetime()'") + ">"
  else
    menu_link = menu.page.perma_link
    output << "<li><a title='#{get_pagelet(menu.name)}' href='/#{menu_link}' " + ( submenus.empty? ? "" : "onmouseover='mopen(\"m#{mnu_count}\")' onmouseout='mclosetime()'") + ">"
  end
  if menu.image_path.blank?
    output << menu.name.capitalize
  else
    output << "<img src='#{menu.image_path}'"
    if !menu.hover_image_path.blank?
     output << "onmouseover=\"this.src='#{menu.hover_image_path}';\" onmouseout=\"this.src='#{menu.image_path}';\""
    end
    output << " />"
  end
  output << "</a>"
  unless submenus.empty?
   output << "<div class='submenus' id='m#{mnu_count}' style='border:0px;background-color:transparent;' onmouseover='mcancelclosetime()' onmouseout='mclosetime()'>"
   submenus.each do |submenu| 
   if submenu.page.nil? 
    sub_menu_link = submenu.link_path
                        output << "<a href='#{sub_menu_link}'>#{submenu.name}</a>"
   else
    if submenu.page.published?
    sub_menu_link = submenu.page.perma_link
             output << "<a href='/#{sub_menu_link}'>#{submenu.name}</a>"
    end
   end
   end
   output << "</div>"
  end
  output << "</li>"
  mnu_count = mnu_count + 1
end
end
output <<"</ul>"
%>
<%= raw(output) %>
<div style="clear:both"></div>

