<div id="footer_menu">
<%= render :partial=>"layouts/nolistmenu", :locals=>{:menusetname=>"Footer"}%>
</div>
<div id="developer">
Developed by Heurion<br/>
contact: <a href="mailto:info@heurion.com" >info@heurion.com</a>
website: <a href="http://www.heurion.com">www.heurion.com</a>
</div>
