<div id="header_text">
   <h1>Welcome to RlingCMS</h1>
   <h3>Faster CMS for Faster minds</h3>
</div>
<div id="header_menu">
<%= render :partial=>"layouts/dropdownmenu", :locals=>{:menusetname=>"Header"}%>
</div>

