<%
   output = ""
   menuset = Menuset.find_by_name(menusetname)
   menus = Menu.find_all_by_level_and_menuset_id(1,menuset.id, :order=>"position")
   firstmenu = true
   output << "<ul class='menuset'>"
   menus.each do |menu|
        output << "<li class='"+ (firstmenu ? "menuitem_first" : "menuitem") + "'>"
   menulink = ""
   if Menu.link_menu(menu)
    menulink = menu.page_perma_link
    output << "<a href='/#{menulink}'>#{menu.name}</a>"
   else
     menulink = menu.link_path
     output << "<a href='#{menulink}'>#{menu.name}</a>"
   end
    output << "</li>"
    firstmenu = false
   end
%>
<%= raw(output) %>
