<%
   output = ""
   menuset = Menuset.find_by_name(menusetname)
   menus = Menu.find_all_by_level_and_menuset_id(1,menuset.id, :order=>"position")
   firstmenu = true
   output << "<ul class='menuset'>"
   menus.each do |menu| 
   	menulink = ""
   	if (menu.link_path.nil? or menu.link_path.empty?)  and !menu.page_id.nil?
     		menulink = menu.page.perma_link
   	else
     		menulink = menu.link_path
   	end
    	output << "<li class='"+ (firstmenu ? "menuitem_first" : "menuitem") + "'>"
    	output << "<a href='#{menulink}'>#{menu.name}</a>"
    	output << "</li>"
    	firstmenu = false
   end
%>
<%= raw(output) %>
